
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>


<h2>COURSES WE OFFER</h2>

@Html.ActionLink("Home Firearm Safety", "Create", "HomeFirearmSafeties", null, new { Style = "font-size:x-large;font-weight:bolder" })
<h2 style="font-weight:bolder">Just having a firearm in your home isn't enough to keep you and your loved ones safe. Knowledge is power.</h2>
<h2 style="font-weight:bolder">This course will give you the basic knowledge and skills to safely handle or store firearms and ammunition in the home.</h2>
<h2 style="font-weight:bolder">This is a 4 hour course beginning at 8:00am Monday through Saturday</h2>

@Html.ActionLink("Personal Protection", "Create", "PersonalProtections", null, new { Style = "font-size:x-large;font-weight:bolder" })
<h2 style="font-weight:bolder">Basics Of Person Protection Outside The Home Course Level 1 - Tuesday, Thursday, Saturday 8:00am-3:00pm</h2>
<h2 style="font-weight:bolder">Basics Of Person Protection Outside The Home Course Level 2 - Tuesday, Thursday, Saturday 8:00am-1:00pm</h2>
<h2 style="font-weight:bolder">Carry Guard Level 1 Training Course - Thursday, Friday, Saturday(All 3 days are required.)</h2>
<h2 style="font-weight:bolder">You will learn how to protect yourself and your family both in and out of your home with concealed carry-focused training and personal protection training courses. </h2>

@Html.ActionLink("Pistol", "Create", "Pistols", null, new { Style = "font-size:x-large;font-weight:bolder" })
<h2 style="font-weight:bolder">In this 6 course series, you will learn the basics of pistol shooting, and defensive training.</h2>
<h2 style="font-weight:bolder">Basic Metallic Cartridge Reloading Course - Tuesday, Thursday, Saturday 8:00am-4:00pm</h2>
<h2 style="font-weight:bolder">Basic Muzzleloading Shooting Course - Tuesday, Thursday, Saturday 8:00am-8:00pm</h2>

@Html.ActionLink("Rifle", "Create", "Rifles", null, new { Style = "font-size:x-large;font-weight:bolder" })
<h2 style="font-weight:bolder">In these 4 courses will learn the skills to handle and shoot a rifle safely. After an orientation course, you will learn basic rifle shooting skills, loading, and reloading.</h2>
<h2 style="font-weight:bolder">Basic Shotgun Shooting Course-Monday,Wednesday,Friday- 8:00am-6:00om</h2>
<h2 style="font-weight:bolder">Basic Muzzleloading Shooting Course-Monday,Wednesday,Friday- 8:00am-4:00pm</h2>
<h2 style="font-weight:bolder">Basic Shotgun Shell Reloading Course-Monday,Wednesday,Friday- 8:00am-8:00pm</h2>

@Html.ActionLink("Shotgun", "Create", "Shotguns", null, new { Style = "font-size:x-large;font-weight:bolder" })
<h2 style="font-weight:bolder">Like to hunt? This 4 course series is for you. You will learn everything you need to know to hunt safely and accurately.</h2>
<h2 style="font-weight:bolder">Basic Shotgun Shooting Course - Monday, Wednesday, Friday - 8:00am-6:00pm</h2>
<h2 style="font-weight:bolder">Basic Muzzleloading Shooting Course - Monday, Wednesday, Friday - 8:00am-4:00pm</h2>
<h2 style="font-weight:bolder">Basic Shotgun Shell Reloading Course - Monday, Wednesday, Friday - 8:00am-8:00pm</h2>





